@import "tailwindcss";

@utility grid-cols-auto {
    grid-template-columns: repeat(auto-fill, var(--icon-width-full));
}

@utility xy-center {
    @apply flex items-center justify-center;
}

@utility no-offset-shadow-* {
    box-shadow: oklch(0.81 0 0 / 0.56) 0 0 calc(--value(integer) * 1px);
}

@utility grid-autofill-* {
    grid-template-columns: repeat(
        auto-fill,
        minmax(calc(--value(integer) * 1px), 1fr)
    );
}
@utility grid-auto-rows-* {
    grid-auto-rows: calc(--value(integer) * 1px);
}
@theme {
    --color-bg: oklch(1 0 0);
    --color-primary: oklch(0.205 0 0);
    --color-primary-fg: oklch(0.985 0 0);
    --color-desc: oklch(0.4 0 0);
    --color-primary-desc: oklch(0.7 0 0);
    --color-border: oklch(0.922 0 0);
    --color-modal: oklch(0 0 0 / 0.6);
}
:root {
    color: oklch(0.12 0 0);
}
:root.dark,
.dark {
    color: oklch(0.985 0 0);
    --color-bg: oklch(14.5% 0 0);
    --color-primary: oklch(0.922 0 0);
    --color-primary-fg: oklch(0.205 0 0);
    --color-desc: oklch(0.7 0 0);
    --color-primary-desc: oklch(0.35 0 0);
    --color-border: oklch(1 0 0 / 0.1);
}
@layer base {
    * {
        border-color: var(--color-border);
    }

    .i-icon {
        width: 1.2em;
        height: 1.2em;
        fill: currentColor;
        vertical-align: text-bottom;
    }
}

.modal-enter-active,
.modal-leave-active,
.modal-enter-active > *,
.modal-leave-active > * {
    @apply transition-all duration-200 ease-out;
}
.modal-enter-from,
.modal-leave-to {
    @apply opacity-0;
}
.modal-enter-to,
.modal-leave-from {
    @apply opacity-100;
}
.modal-enter-from > *,
.modal-leave-to > * {
    @apply scale-85;
}
.modal-enter-to > *,
.modal-leave-from > * {
    @apply scale-100;
}
