@import 'tailwindcss';
@plugin "daisyui" {
    themes: all;
}
@layer base {
    [icon] {
        display: inline;
        width: 1.2em;
        height: 1.2em;
        fill: currentColor;
        vertical-align: text-bottom;
    }
}

@utility y-center {
    display: flex;
    align-items: center;
}
@utility x-center {
    display: flex;
    justify-content: center;
}
@utility xy-center {
    @apply y-center x-center;
}

@utility no-offset-shadow-* {
    box-shadow: 0 0 calc(--value(integer) * 1px) color-mix(in oklab, var(--color-base-content) 50%, transparent);
}
@utility grid-autofill-* {
    grid-template-columns: repeat(auto-fill, minmax(calc(--value(integer) * 1px), 1fr));
}
@utility grid-autofit-* {
    grid-template-columns: repeat(auto-fit, minmax(calc(--value(integer) * 1px), 1fr));
}
@utility grid-auto-rows-* {
    grid-auto-rows: calc(--value(integer) * 1px);
}

@utility line-clamp-* {
    text-overflow: ellipsis;
}
body {
    font-family: inherit;
    font-size: inherit;
}
body::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: url('@/assets/noise-filter.svg');
    background-size: 150px;
    background-repeat: repeat;
    opacity: 0.4;
}
.modal-enter-active,
.modal-leave-active,
.modal-enter-active > *,
.modal-leave-active > * {
    transition: all 200ms ease-out;
}
.modal-enter-from,
.modal-leave-to {
    opacity: 0;
}
.modal-enter-to,
.modal-leave-from {
    opacity: 1;
}
.modal-enter-from > *,
.modal-leave-to > * {
    scale: 0.85;
}
.modal-enter-to > *,
.modal-leave-from > * {
    scale: 1;
}

/* daisyui override */
.menu-dropdown {
    display: block;
    interpolate-size: allow-keywords;
    height: 0;
    transition: height 200ms ease-out;
    overflow: hidden;
}
.menu-dropdown-show {
    height: auto;
}
:is(.select, .select select) option.no-padding {
    padding-inline: 0;
}
:is(.select:has(option.no-padding))::picker(select) {
    padding: 0;
    border: none;
    @apply shadow;
}
